html{
    background-color:#AF1A1C;
    background-image: url(backgrounds/background.png);

}

nav{
    justify-items: center;
}
.card-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
    background-color: #DFA12A;
}

.song-of-the-week{
    background-color: #4F772A;
    display: flex;
    justify-content: space-around;
}